/******************
 Search Bar
******************/

.sidebar .doc-search-bar {
  background-color: #1A6BC7;
  padding:10px;
  line-height: 36px;
}

.sidebar .doc-search-bar input[type='text'] {
  border: none;
  background-color: #1A6BC7;
  border-bottom: solid 1px;
  color: white;
  font-family: lato;
  font-size: 12px;
  font-weight: inherit;
  padding: 0px;
  line-height: 20px;
  width: 207px;
}

.sidebar .doc-search-bar button[type='submit'] {
  display: inline;
  border: none;
  background:none;
  position: relative;
  color: white;
  left: -5px;
  top: 4px;
  font-size: 14px;
  cursor: pointer;
}
.sidebar .doc-search-bar ::-webkit-input-placeholder {
   color: white;
}

.sidebar .doc-search-bar :-moz-placeholder { /* Firefox 18- */
   color: white;  
}

.sidebar .doc-search-bar ::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

.sidebar .doc-search-bar :-ms-input-placeholder {  
   color: white;
}

/*****************
 Main Area
*****************/

.int_text {
  margin-top:60px;
  margin-left: 30px;
}
.int_title
{
  margin-left: 350px;
  text-align: left;
  margin-top: 60px;
}
.int_title::after{
  left: 0px;
}

/***************************
/* Sidebar doc menu styles
***************************/

.sidebar {
  position: fixed;
  -webkit-transform: translateZ(0);
  background-color: #f5f6f7;
  width: 293px;
  height: auto;
  top: 50px;
  bottom: 0;
  left: 0;
  overflow: auto;
  font-size: 0.85em;
  z-index: 100;
  transition: left 0.4s cubic-bezier(.02,.01,.47,1);
  -moz-transition: left 0.4s cubic-bezier(.02,.01,.47,1);
  -webkit-transition: left 0.4s cubic-bezier(.02,.01,.47,1);
}
.int_text .sidebar.force-expand {
  left: 0px;
}
aside {
  display:block;
}
div.docsidebar {
  font-size: 14px;
  height: 100%;
}
div.docsidebarwrapper {
  padding: 0;
  padding-top: 24px;
  padding-bottom: 130px;
  /*min-height: 100%;*/
  position: relative;
}
div.docsidebar h3 {
  padding: 0 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: -3px 0 15px 0;
}
div.docsidebarwrapper ul {
  margin: 12px 0 0 0;
  padding: 0;
}
div.docsidebar ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  color: #000;
}
div.docsidebar ul li {
  background-color: ##F5F6F7;
}
.docsidebarwrapper > ul > .toctree-l1.current {
  background-color: #fff;
  border-right: 1px solid #f5f6f7;
}
.docsidebarwrapper > ul > ul.current {
  background-color: #fff;
  border-right: 1px solid #f5f6f7;
  margin: 0px;
}
.docsidebarwrapper > ul > .toctree-l1 {
  padding: 11px 0;
  line-height: 24px;
  border-top: 1px solid #ebebed;
}
.docsidebarwrapper > ul > .toctree-l1 > a {
  font-size: 18px;
  line-height: 24px;
  padding: 0 12px;
  width: 100%;
  display: inline-block;
}
div.docsidebar ul ul, div.docsidebar ul.want-points {
  list-style: none outside none;
  margin-left: 0;
}
div.docsidebar ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.docsidebarwrapper li.toctree-l1 ul > li > a {
  line-height: 24px;
  display: inline-block;
  width: 100%;
}
div.docsidebar li.toctree-l2 > a {
  text-indent: -12px;
  padding-left: 37px;
}
div.docsidebar li.toctree-l3 > a {
  text-indent: -12px;
  padding-left: 48px;
}
span.expand, span.contract{
  float: left;
  width: 0px;
  cursor: pointer;
}
span.contract {
  display: none;
}
/****************************
/* Responsive media queries
/***************************/

@media (min-width: 320px) {

}
@media (max-width: 768px) {
  
}
/* Need menu click to make sidebar appear */

@media (max-width: 1024px) {
  #menu ul li.expand-toc-icon {
    display: block;
    /*padding-right: 10px;*/
    color: white;
    float: left;
  }

  .expand-toc-icon:hover,
  .expand-toc-icon:active {
    color: white;
    text-decoration: none;
  }

  #menu ul li.logo {
    /*padding-left: 70px; */
  }

  .int_text .sidebar {
    left: -293px;
    box-shadow: 0 0 13px rgba(0,0,0,0.3);
  }

  .int_text .sidebar.reveal {
    left: 0;
  }

  .int_text .main-content{
    margin-left: 0;
  }
}


@media (min-width: 1025px) {
  .main-content
  {
    margin-left: 293px;
  }
  #menu ul li.logo {
    padding-left: 30px;
  }
  #menu ul li.expand-toc-icon {
    display: none;
  }
}

@media (max-width: 1393px) {
    #menu ul li.logo {
      /*padding-left: 30px;*/
    }
}

