<aside class="sidebar">
  <div class="docsidebar">
    <div class="docsidebarwrapper">
      <ul class="current" style="display: block;">
        <li class=doc-search-bar>
          <form action="javascript: alert('submit');">
            <input type="text" placeholder="Search here" id="doc-search-term" />
            <button type="submit" id="doc-search-submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </li>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <ul style="display: none;">
          <li class="toctree-l2"><a class="reference internal" href="#">Level 2</a></li>
          <ul style="display: none;">
            <li class="toctree-l3"><a class="reference internal" href="#">Level 3</a></li>
          </ul>
        </ul>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <ul style="display: none;">
          <li class="toctree-l2"><a class="reference internal" href="#">Level 2</a></li>
        </ul>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <ul style="display: none;">
          <li class="toctree-l2"><a class="reference internal" href="#">Level 2</a></li>
          <ul style="display: none;">
            <li class="toctree-l3"><a class="reference internal" href="#">Level 3</a></li>
          </ul>
        </ul>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <ul style="display: none;">
          <li class="toctree-l2"><a class="reference internal" href="#">Level 2</a></li>
        </ul>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <ul style="display: none;">
          <li class="toctree-l2"><a class="reference internal" href="#">Level 2</a></li>
          <ul style="display: none;">
            <li class="toctree-l3"><a class="reference internal" href="#">Level 3</a></li>
          </ul>
        </ul>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <ul style="display: none;">
          <li class="toctree-l2"><a class="reference internal" href="#">Level 2</a></li>
        </ul>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <ul style="display: none;">
          <li class="toctree-l2"><a class="reference internal" href="#">Level 2</a></li>
          <ul style="display: none;">
            <li class="toctree-l3"><a class="reference internal" href="#">Level 3</a></li>
          </ul>
        </ul>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>
        <ul style="display: none;">
          <li class="toctree-l2"><a class="reference internal" href="#">Level 2</a></li>
        </ul>
        <li class="toctree-l1"><a class="reference internal" href="#">Level 1</a></li>

      </ul>
    </div>
  </div>
</aside>

