<div class="bui"></div>

<div id="search">
<input type="text" placeholder="Enter search term here">
</div>

<div id="menu" class="mw">
<ul>
  <li class="logo"><a href="/"></a></li>
  <li class='expand-menu pull-right'>
    <a href="javascript:void(0);"><span class='menu-text'>Menu</span><span class='expand-icon'>☰</span></a>
  </li>

  <li>
    <a href="/overview/">Documentation</a>
    <ul>
      <li><a href="/overview/">Overview&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="https://cwiki.apache.org/confluence/display/DRILL/Apache+Drill+in+10+Minutes" target="_blank">Drill in 10 Minutes</a></li>
      <li><a href="/why/">Why Drill? &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="/architecture/">Architecture</a></li>
    </ul>
  </li>
  <li>
    <a href="/community/">Community</a>
    <ul>
      <li><a href="/team/">Team</a></li>
      <li><a href="/community/#events">Events and Meetups</a></li>
      <li><a href="/community/#mailinglists">Mailing Lists</a></li>
      <li><a href="/community/#getinvolved">Get Involved</a></li>
      <li><a href="https://issues.apache.org/jira/browse/DRILL/" target="_blank">Issue Tracker</a></li>
      <li><a href="https://github.com/apache/drill" target="_blank">GitHub</a></li>
    </ul>
  </li>
  <li><a href="/faq/">FAQ</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li style="width:30px; padding-left: 2px; padding-right:10px"><a href="https://twitter.com/apachedrill" target="_blank"><img src="/images/twitterbw.png" alt="" align="center" width="22" style="padding: 0px 10px 1px 0px;"></a> </li>
  <li class='search-bar'>
    <form action="javascript: alert('submit');">
      <input type="text" placeholder="Search Apache Drill" id="doc-search-term" />
      <button type="submit" id="doc-search-submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </li>
  <li class="d"><a href="/download/">Download</a></li>
</ul>
</div>
